<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
		<title>Assignment-v1</title>
		<base href="/">
	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-notification/0.3.6/angular-ui-notification.min.js"></script>

		<script src="public/js/app-x.js"></script>

		<script src="public/js/services/main.js"></script>

		<script src="public/js/configs/config-x.js"></script>

		<script src="/public/js/controllers/main-x.js"></script>
		<script src="/public/js/controllers/contacts-create.js"></script>
		<script src="/public/js/controllers/contacts-edit.js"></script>
		<script src="/public/js/controllers/contacts-view.js"></script>
	</head>
	<body ng-cloak ng-controller="MainXController as main">
        <div class="ui borderless stackable menu">
            <a class="item" ui-sref="contacts" ui-sref-active="active">Contacts</a>
            <div class="ui simple dropdown right item"">
                <span>{{main.me.FirstName | uppercase}} {{main.me.LastName | uppercase}} </span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ui-sref="signOut">Sign Out</div>
                </div>
            </div>
        </div>

        <div class="ui container">
            <ui-view></ui-view>
        </div>
	</body>
</html>
