<div class="ui stackable grid">
    <div class="ui sixteen wide column">
        <table class="ui stripped small violet fixed table">
            <thead>
                <tr>
                    <th colspan="3">
                        <h3 class="ui header">Contacts</h3>
                    </th>
                    <th colspan="4" class="right aligned">
                        <button class="ui violet button" ui-sref="contacts.create">Create</button>
                    </th>
                </tr>

                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Organization
                    </th>
                    <th>
                        Website
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="ctrl.contacts.length === 0 && !ctrl.requestInProgress">
                    <td colspan="7">No records.</td>
                </tr>
                <tr ng-repeat="contact in ctrl.contacts track by $index">
                    <td ng-bind="contact.FirstName"></td>
                    <td ng-bind="contact.LastName"></td>
                    <td ng-bind="contact.Email"></td>
                    <td ng-bind="contact.Phone"></td>
                    <td ng-bind="contact.Organization"></td>
                    <td ng-bind="contact.Website"></td>
    
                    <td>
                        <button class="ui icon button" ui-sref="contacts.edit({contactID: contact.ID})">
                            <i class="edit icon"></i>
                        </button>

                        <button class="ui icon button" ng-click="ctrl.deleteContact(contact, $index)" ng-class="{'loading disabled': contact.DeletingInProgress}">
                            <i class="delete icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>