<div class="ui stackable grid">
    <div class="ui sixteen wide column">
        <div class="ui padded segment">
            <h3 class="ui header">Edit Contact</h3>
            <form class="ui form">
                <div class="two fields">
                    <div class="required field">
                        <label>First Name</label>
                        <input type="text" ng-model="ctrl.formData.FirstName">
                    </div>
                    <div class="required field">
                        <label>Last Name</label>
                        <input type="text"  ng-model="ctrl.formData.LastName">
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Email</label>
                        <input type="text"  ng-model="ctrl.formData.Email">
                    </div>
                    <div class="required field">
                        <label>Phone</label>
                        <input type="text" ng-model="ctrl.formData.Phone">
                    </div>
                </div>

                <div class="two fields">
                    <div class="required field">
                        <label>Organization</label>
                        <input type="text"  ng-model="ctrl.formData.Organization">
                    </div>
                    <div class="required field">
                        <label>Website</label>
                        <input type="text" ng-model="ctrl.formData.Website">
                    </div>
                </div>
    
                <button class="ui violet button" ng-click="ctrl.editContact()" ng-class="{'loading disabled': ctrl.requestInProgress}">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>