<div class="ui stackable centered grid">
    <div class="eight wide column">
        <div class="ui hidden section divider"></div>
        <div class="ui hidden section divider"></div>
        <div class="ui hidden section divider"></div>
        <div class="ui hidden section divider"></div>

        <div class="ui padded violet segment">
            <h4 class="ui header">SIGN IN</h4>
            <form class="ui form">
                <div class="required field">
                    <label>Email</label>
                    <input type="text" ng-model="ctrl.formData.Email">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password" ng-model="ctrl.formData.Password">
                </div>

                <button class="ui violet button" ng-click="ctrl.submit()" ng-class="{'loading disabled': ctrl.requestInProgress}">
                    Log In
                </button>
            </form>
        </div>

        <div class="ui padded violet center aligned segment">
            Don't have a account, <a ui-sref="signUp">Sign Up</a>
        </div>
        
    </div>
</div>